In [1]:
import sqlite3

In [12]:
#criar uma conexão com o banco de dados
#se o banco não existir ele cria
con = sqlite3.connect("piedade.db")
# a conecxão está aberta para o aarquivo ser editado

In [13]:
type(con)

sqlite3.Connection

In [20]:
#criando o cursor
#um cursor permite percorrer todos os registros em um conjunto de dados 
cur = con.cursor()

In [25]:
#criação de tabelas conhecido como ddl
sql_create = 'create table cursos'\
'(id integer primary key,'\
'titulo varchar(100),'\
'categoria varchar(140))'

In [26]:
#EXECUTANDO  A INSTRUÇÃO SQL NO CURSOR
cur.execute(sql_create)

In [31]:
#CRIANDO OUTRA SENTENÇA  SQL PARA INSERIR REGISTROS
sql_insert = 'insert into cursos values(?, ?, ?)'

In [57]:
#DADOS 
recset = [(1000,'javascript','curso em video'),
          (1001,'html','origamid'),
          (1002,'python','dsa')]

In [58]:
#inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

IntegrityError: UNIQUE constraint failed: cursos.id

In [35]:
con.commit()

In [53]:
#criando outra sentença sql para selecionar registros
sql_select = 'select * from cursos'

In [54]:
#seleciona todos os registros(essa linha é importante para selecionar oque vai ser impresso)
cur.execute(sql_select)
dados = cur.fetchall()

In [55]:
for linha in dados:
    print('curso id: %d, titulo: %s, cadastro %s\n' % linha)

curso id: 1000, titulo: javascript, cadastro curso em video

curso id: 1001, titulo: html, cadastro origamid

curso id: 1002, titulo: python, cadastro dsa

curso id: 1003, titulo: java, cadastro devimedia

In [56]:
recset = [(1003,'java','devimedia')]

for rec in recset:
    cur.execute(sql_insert, rec)
    
con.commit()

IntegrityError: UNIQUE constraint failed: cursos.id

In [50]:
con.commit()

In [44]:
for linha in dados:
    print('curso id: %d, titulo: %s, cadastro %s\n' % linha)

curso id: 1000, titulo: javascript, cadastro curso em video

curso id: 1001, titulo: html, cadastro origamid

curso id: 1002, titulo: python, cadastro dsa