In [51]:
# Exercício 1 
# Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
li = [1,2,3,4,5,6,7,8,9,10]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

li = ['carro','casa','terreno','lua','capacete']
print(li)

['carro', 'casa', 'terreno', 'lua', 'capacete']

In [25]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
est1 = 'minha linda esposa '
est2 = 'jois maria dos santos'
est3 = est1 + est2
print(est3)

minha linda esposa jois maria dos santos

In [19]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 
# e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tup = (1, 2, 2, 3, 4, 4, 4, 5)
tup.count(4)

3

In [20]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dic = {}
print(dic)

{}

In [26]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dic1 = {'gilmar':42,'jois':39,'casados':23}
print(dic1)

{'gilmar': 42, 'jois': 39, 'casados': 23}

In [33]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dic1['bodas']= 25
print(dic1)

{'gilmar': 42, 'jois': 39, 'casados': 23, 'bodas': 25}

In [37]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dic2 = {'futebol':'gol','basquete':'cesta','camp':[100,20]}
print(dic2)

{'futebol': 'gol', 'basquete': 'cesta', 'camp': [100, 20]}

In [52]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
lista = ['gilmar',('jonas','jefferson'),{'jefferson':15,'jonas':11},99.88]
print(lista)

['gilmar', ('jonas', 'jefferson'), {'jefferson': 15, 'jonas': 11}, 99.88]

In [53]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[1:18]

'ientista de Dados'