In [1]:
#inserindo o valor de tp em li
li = []
tp = (2,3,4)
for i in tp:
    li.append(i)
print(li)

[2, 3, 4]

In [2]:
#contador no range de 0 até 5
lt = ['casa','carro','barco','navio']
for contador in range(0,4):
        print(lt[contador])

casa
carro
barco
navio

In [3]:
#impressão dos numeros impares
lista = [1,2,3,4,5,6,7,8,9,10]
for num in lista:
    if num % 2 == 1:
        print(num)

1
3
5
7
9

In [4]:
#imprimindo os valores de 0 até 51 exclusivo de 2 em 2
for b in range(0,51,2):
    print(b)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [5]:
for caracter in 'eu sou um servo de Deus':
        print(caracter)

e
u

s
o
u

u
m

s
e
r
v
o

d
e

D
e
u
s

In [6]:
#loop aninhado
for i in range(0,5):
    for a in range(0,5):
        print(a)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4

In [7]:
lista = [12,56,98,68,36,48,17]
soma = 0
for i in lista:
    double = i * 2
    soma += double
    print(f'aqui é double{double}')
print(f'aqui é soma{soma}')

aqui é double24
aqui é double112
aqui é double196
aqui é double136
aqui é double72
aqui é double96
aqui é double34
aqui é soma670

In [8]:
lista = [[1,2,3],[10,15,14],[10.1,8.7,2.3]]
for valor in lista:
    print(valor)

[1, 2, 3]
[10, 15, 14]
[10.1, 8.7, 2.3]

In [13]:
#contar os itens
lista = ['g','g','g','g','i','i','i','l','l','l']
count = 0
for item in lista:
    count+= 1
    print(count)

1
2
3
4
5
6
7
8
9
10

In [21]:
#imprimindo as chave de um dicionário 
dic = {'eu':'gilmar','tu':'mulher','ele':'filho'}
for item in dic:
    print(item)

eu
tu
ele

In [24]:
#imprimindo chave e valor do dicionário.
for k,v in dic.items():
    print(k,v)

eu gilmar
tu mulher
ele filho