In [7]:
import os

In [8]:
#importando banco de dados
import sqlite3

In [14]:
#cria conecsão com o banco de dados 
#se o banco de dados não existir ele cria
con = sqlite3.connect("gilmar.db")

In [17]:
#criando um cursor
#um cursor permite percorrer todos os registros em um conjunto de dados 
cur = con.cursor()

In [23]:
#cria uma instrução sql
sql_create = 'create table outra'\
'(id integre primary key,'\
'titulo varchar (100),'\
'categoria varchar (140))'

In [24]:
#executando a instrução sql no cursor
cur.execute(sql_create)

In [43]:
#criando outra sentença sql para inserir registros
sql_insert = 'insert into outra values(?,?,?)'

In [44]:
#dados a ser inseridos na tabela
recset = [(1000,'ciencio de dados','data cience '),
         (1001,'javascript','origamid'),
         (1002,'html','curso em vidoes'),
         (1003,'banco de dados','boston treinamentos')]

In [45]:
#inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

In [46]:
#gravar dados.
conn.commit()

In [50]:
sql_select = 'select * from  gilmar'

In [51]:
cur.execute(sql_select)
dados = cur.fetchall()

In [53]:
for linha in dados:
    print('gilmar id: %d, titulo:%s','categoria:%s\n' % linha)